* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif; 
}

body {
    background-color: #f9f9f9;
    padding-top: 100px;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 8%;
    background-color: #735945;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

header .logo img {
    height: 80px;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 600;
    transition: 0.3s;

}

.contato-container {
    display: flex;
    background: #ffffff;
    width: 90%;
    max-width: 1100px;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
    overflow: hidden;
    margin: 40px auto;
}

.contato-info {
    flex: 1;
    padding: 50px;
    background-color: #ffffff;
}

.contato-info h2 {
    color:  #735945;
    font-size: 2rem;
    margin-bottom: 8px;
}

.contato-info .subtitulo {
    color: #666666;
    margin-bottom: 40px;
    font-size: 0.95rem;
}

.info-item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 25px;
}

.info-item i {
    font-size: 1.4rem;
    color:  #735945;
    margin-right: 20px;
    margin-top: 3px;
    width: 25px;
    text-align: center;
}

.info-item h3 {
    font-size: 1.05rem;
    color: #333333;
    margin-bottom: 4px;
}

.info-item p, .info-item a {
    font-size: 0.95rem;
    color: #555555;
    text-decoration: none;
    line-height: 1.4;
}

.info-item a:hover {
    color:  #735945;
    text-decoration: underline;
}

.contato-mapa {
    flex: 1;
    min-height: 450px;
    background: #e5e3df;
}

@media (max-width: 768px) {
    body {
        padding-top: 140px;
    }
    
    header {
        flex-direction: column;
        padding: 15px;
    }
    
    nav ul {
        margin-top: 15px;
    }

    .contato-container {
        flex-direction: column;
        width: 95%;
    }
    
    .contato-info {
        padding: 30px 20px;
    }
    
    .contato-mapa {
        min-height: 300px;
    }
}